#app {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    width:100%;
    height:100vh;
}

html,body{
    width:100%;
    height:100vh;
    margin:0;
    padding:0;
    overflow: hidden;
}

p{
    margin: 0;
    padding: 0;
}
ul{list-style:none}
a{text-decoration: none;} 
img{vertical-align:top;border:none} 

//主色 顶部导航
@mainNavColor: #668CFF;
@mainBgColor:#f1f3f6;

// 辅色
@assistColor:#08c0cd;
// 按钮颜色
@btnColor:#668CFF;
// 表头颜色
@tableColor:#F2F2F2;


